git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
beautifulsoup4==4.3.1
dj-database-url==0.3.0
dj-static==0.0.5
gunicorn==18.0
numpy==1.7.0
pandas==0.13.1
requests==2.2.1
scipy==0.11.0
psycopg2==2.5.2
zipline==0.6.0
git+https://github.com/maxvitek/intradata.git
git+https://github.com/maxvitek/finsymbols.git
pytz==2013b
dj-mongohq-url==0.0.1
tempodb==0.5.0
celery==3.1.9