<script>
    document.getElementById("coint").innerHTML = '';

    coint_div = d3.select('#coint');

    coint_div.append("h2").text("Cointegration Analysis of {{ data.company_1.symbol }} and {{ data.company_2.symbol }}");
    coint_div.append("div").attr("id", "stock_chart");
    coint_div.append("p").text("Latest stock performance of {{ data.company_1.name }} of {{ data.company_1.hq }} and {{ data.company_2.name }} of {{ data.company_2.hq }}.");
    coint_div.append("p").text("First we examine these for cointegration using the two step Engle-Grander test:")

    var series1 = [{% for i in data.pair_data %}{ x: {{ i.datetime }}, y: {{ i.ticker1 }} }{% if not forloop.last %},{% endif %}{% endfor %}];

    var series2 = [{% for i in data.pair_data %}{ x: {{ i.datetime }}, y: {{ i.ticker2 }} }{% if not forloop.last %},{% endif %}{% endfor %}];

    var min1 = Number.MAX_VALUE;
    var max1 = Number.MIN_VALUE;
    for (i = 0; i < series1.length; i++) {
      min1 = Math.min(min1, series1[i].y);
      max1 = Math.max(max1, series1[i].y);
    }

    var min2 = Number.MAX_VALUE;
    var max2 = Number.MIN_VALUE;
    for (i = 0; i < series2.length; i++) {
      min2 = Math.min(min2, series2[i].y);
      max2 = Math.max(max2, series2[i].y);
    }

    var axis1 = d3.scale.linear().domain([min1, max1]);
    var axis2 = d3.scale.linear().domain([min2, max2]);

    var graph = new Rickshaw.Graph( {
        element: document.getElementById("stock_chart"),
        width: 600,
        height: 250,
        renderer: 'line',
        series: [
            {
                color: "#ff9030",
                data: series1,
                name: "{{ data.company_1.symbol }}",
                scale: axis1
            }, {
                color: "#ff4040",
                data: series2,
                name: "{{ data.company_2.symbol }}",
                scale: axis2
            }
        ]
    } );

    //graph.renderer.dotSize = 2;

    new Rickshaw.Graph.HoverDetail({ graph: graph });

    graph.render();
</script>